div.TableauPlaceholder-fluid {
  width: 950px;
  margin-left: auto ;
  margin-right: auto ;
  }

  .card-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .topnav-right {
    float: right;
  }

  .navbar-nav .active {
    color: whitesmoke;
  }